<div id="cart">
    <h1>Ваша корзина</h1>
  {% for item in orderitems %}
    <div class="orderitem">
      <span class="order-counter">{{ forloop.counter }}.</span>
      <span class="product__name">{{ item.product.name  }}</span>
      <a class="product-image block mr-2 hover:text-gray-600">
        <img src="{{ item.product.image.url }}" width="150" height="150">
      </a>
        <form class="remove-from-cart-form"
              hx-delete="{% url 'remove_from_cart' item.id %}"
              hx-trigger="submit"
              hx-target="#cart"
              hx-swap="innerHTML">
          {% csrf_token %}
          <button type="submit" class="remove-from-cart-button">Remove from cart</button>
        </form>
        <form class="add-to-cart-form"
              hx-post="{% url 'add_product_to_cart_div' item.product.id %}"
              hx-trigger="submit"
              hx-target="#cart"
              hx-swap="innerHTML">
          {% csrf_token %}
          <button type="submit" class="add-to-cart-button">+</button>
        </form>
        <form class="decrease-product-amount-form"
              hx-post="{% url 'decrease_product_cart_div' item.product.id %}"
              hx-trigger="submit"
              hx-target="#cart"
              hx-swap="innerHTML">
          {% csrf_token %}
          <button type="submit" class="decrease-product-amount-form">-</button>
          <input type="hidden" name="quantity" value="-1">
        </form>
      <span class="total_quantity ">{{ item.quantity }} штук</span>
    </div>
  {% endfor %}
  <p>Total Order Price: {{ total_order_price }}</p>
  <form action="{% url 'pay_for_order' %}" method="post" style="display: inline;">
      {% csrf_token %}
      <button type="submit">Оплатить</button>
  </form>
</div>