{% extends "base.html" %}

{% block content %}
    <h1>Ваша корзина</h1>
<div id="cart">
  {% for item in orderitems %}
    <div class="orderitem">
      <span class="order-counter">{{ forloop.counter }}.</span>
      <span class="product__name">{{ item.product__name  }}</span>
        <form class="add-to-cart-form"
              hx-post="{% url 'add_product_to_cart' 1 %}"
              hx-trigger="submit">
          {% csrf_token %}
          <button type="submit" class="add-to-cart-button">Add to cart</button>
        </form>
        <form action="{% url 'add_product_to_cart' 1 %}" method="post">
              {% csrf_token %}
              <button class="quantity-btn increase-quantity" type="submit">+</button>
        </form>
      <span class="total_quantity ">{{ item.total_quantity }} штук</span>
    </div>
  {% endfor %}
  <p>Total Order Price: {{ total_order_price }}</p>
  <form action="{% url 'pay_for_order' %}" method="post" style="display: inline;">
      {% csrf_token %}
      <button type="submit">Оплатить</button>
  </form>
</div>

{% endblock %}